<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <main class="error-wrapper">
      <h1 class="error-title">😢<br />Página não encontrada</h1>
      <p class="error-desc">
        A página que você procura não existe ou foi movida.
      </p>
      <a href="/" class="primary-btn">Voltar para a Home</a>
    </main>
  </body>
</html>
